@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-blue-50;
    /* background-color: #efefef; */
  }
}

/* Context menu css */
.react-contextmenu-wrapper {
  width: 100%;
  height: 100%;
}
nav.react-contextmenu {
  position: fixed;
  width: 200px;
  left: 0;
  top: calc(100% + 10px);
  border-radius: 4px;
  background-color: #fff;
  padding: 10px 0;
  z-index: 99;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.react-contextmenu .react-contextmenu-item:hover {
  background: #cccccc;
}

.react-contextmenu-item:hover:not(.react-contextmenu-item--disabled) {
  background-color: #f1f1f1;
}

.react-contextmenu .react-contextmenu-item {
  font-size: 14px;
  display: block;
  text-decoration: none;
  padding: 10px 15px;
  cursor: pointer;
  user-select: none;
  transition: 0.2s;
  position: relative;
  margin-bottom: 2px;
  font-weight: 500;
  display: flex;
  align-items: center;
  outline: none;
}
.react-contextmenu-item span {
  margin-left: 10px;
}
.react-contextmenu-item svg {
  font-size: 14px;
}
.react-contextmenu-item .copy {
  color: skyblue;
}
.react-contextmenu-item .delete {
  color: red;
}
.react-contextmenu-item .send {
  color: blue;
}
.react-contextmenu-item .share {
  color: green;
}
.react-contextmenu-item .watchlist {
  color: rebeccapurple;
}

/* LowPortSetting input style */
.input-w-s input[type="text"] {
  width: 65px;
  padding: 4px;
}

/* Loading customizing */
.leap-frog {
  --uib-size: 70px;
  --uib-speed: 2.5s;
  --uib-color: #1e40af;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: var(--uib-size);
  height: var(--uib-size);
}

.leap-frog__dot {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}

.leap-frog__dot::before {
  content: "";
  display: block;
  height: calc(var(--uib-size) * 0.22);
  width: calc(var(--uib-size) * 0.22);
  border-radius: 50%;
  background-color: var(--uib-color);
  will-change: transform;
}

.leap-frog__dot:nth-child(1) {
  animation: leapFrog var(--uib-speed) ease infinite;
}

.leap-frog__dot:nth-child(2) {
  transform: translateX(calc(var(--uib-size) * 0.4));
  animation: leapFrog var(--uib-speed) ease calc(var(--uib-speed) / -1.5)
    infinite;
}

.leap-frog__dot:nth-child(3) {
  transform: translateX(calc(var(--uib-size) * 0.8)) rotate(0deg);
  animation: leapFrog var(--uib-speed) ease calc(var(--uib-speed) / -3) infinite;
}

@keyframes leapFrog {
  0% {
    transform: translateX(0) rotate(0deg);
  }

  33.333% {
    transform: translateX(0) rotate(180deg);
  }

  66.666% {
    transform: translateX(calc(var(--uib-size) * -0.4)) rotate(180deg);
  }

  99.999% {
    transform: translateX(calc(var(--uib-size) * -0.8)) rotate(180deg);
  }

  100% {
    transform: translateX(0) rotate(0deg);
  }
}

/* ====== */

.metronome {
  --uib-size: 80px;
  --uib-speed: 1.6s;
  --uib-color: #1e40af;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: var(--uib-size);
  width: var(--uib-size);
}

.metronome__dot {
  position: absolute;
  top: 13.5%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  animation: swing var(--uib-speed) linear infinite;
}

.metronome__dot::before {
  content: "";
  height: 25%;
  width: 25%;
  border-radius: 50%;
  background-color: var(--uib-color);
}

.metronome__dot:nth-child(1) {
  animation-delay: calc(var(--uib-speed) * -0.36);
}

.metronome__dot:nth-child(2) {
  animation-delay: calc(var(--uib-speed) * -0.27);
  opacity: 0.8;
}

.metronome__dot:nth-child(2)::before {
  transform: scale(0.9);
}

.metronome__dot:nth-child(3) {
  animation-delay: calc(var(--uib-speed) * -0.18);
  opacity: 0.6;
}

.metronome__dot:nth-child(3)::before {
  transform: scale(0.8);
}

.metronome__dot:nth-child(4) {
  animation-delay: calc(var(--uib-speed) * -0.09);
  opacity: 0.4;
}

.metronome__dot:nth-child(4)::before {
  transform: scale(0.7);
}

@keyframes swing {
  0% {
    transform: rotate(0deg);
  }

  15% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  65% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

/* Date Picker Customizing */
.react-datepicker__input-container input {
  width: 100%;
}
.aaa {
  width: auto;
}
